### 1. Create a dataframe fruit_sales that matches the diagram below:

In [ ]:
            Apple    Bananas
2017 Sales     30    21
2018 Sales     41    34

In [2]:
import pandas as pd

In [61]:
fruit_sales1 = pd.Series(data = [30,41],index=['2017 Sales','2018 Sales'])

In [62]:
fruit_sales2 = pd.Series([21,34],index=['2017 Sales','2018 Sales'])

In [63]:
fruit_sales = pd.DataFrame(data = {'Apple':fruit_sales1,'Bananas':fruit_sales2})

In [64]:
fruit_sales

            Apple  Bananas
2017 Sales     30       21
2018 Sales     41       34

### 2. Create a variable ingredients with a Series that looks like:

In [ ]:
Flour     4 cups
Milk       1 cup
Eggs     2 large
Spam       1 can
Name: Dinner, dtype: object

In [68]:
ingredients = pd.Series(data = ['4 cups','1 cup','2 large','1 can'],index = ['Flour','Milk','Eggs','Spam'])

In [69]:
ingredients

Flour     4 cups
Milk       1 cup
Eggs     2 large
Spam       1 can
dtype: object

### 3. Create a dataframe from series that looks like:

In [ ]:
    A    B
a    1    11

b    2    22

c    3    33

d    4    44

e    5    55

In [70]:
s1 = pd.Series(data = [1,2,3,4,5],index = ['a','b','c','d','e'])
s2 = pd.Series(data = [11,22,33,44,55],index = ['a','b','c','d','e'])
datafram = pd.DataFrame({'A':s1,'B':s2})

In [71]:
datafram

   A   B
a  1  11
b  2  22
c  3  33
d  4  44
e  5  55

### 4. Create a dataframe using random numpy array that look like:

In [ ]:
    a   b    c    d    e
A   [
B          Some
C          random 
D          values
E                      ]

### 5. Read a csv file and display data of file and assign it to variable csv.

In [3]:
csv = pd.read_csv("https://raw.githubusercontent.com/edyoda/Data-Scientist-program/master/Practice%20Problems/data/winemag.csv",encoding="latin")

In [4]:
csv.head()

,Unnamed: 0,country,description,designation,points,Unnamed: 5,province,region_1,region_2,Unnamed: 9,Unnamed: 10,Unnamed: 11
0,0.0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkï¿½ï¿½ Bi,87.0,NaN,Sicily & Sardinia,Etna,NaN,NaN,NaN,NaN
1,1.0,Portugal,"This is ripe and fruity, a wine that is smooth...",Avidagos,87.0,NaN,Douro,NaN,NaN,NaN,NaN,NaN
2,2.0,US,"Tart and snappy, the flavors of lime flesh and...",NaN,87.0,NaN,Oregon,Willamette Valley,Willamette Valley,NaN,NaN,NaN
3,3.0,US,"Pineapple rind, lemon pith and orange blossom ...",Reserve Late Harvest,87.0,NaN,Michigan,Lake Michigan Shore,NaN,NaN,NaN,NaN
4,4.0,US,"Much like the regular bottling from 2012, this...",Vintner's Reserve Wild Child Block,87.0,NaN,Oregon,Willamette Valley,Willamette Valley,NaN,NaN,NaN

### 6. Select the description column from csv and assign the result to the variable desc.

In [83]:
desc = csv.description

In [84]:
desc.head()

0    Aromas include tropical fruit, broom, brimston...
1    This is ripe and fruity, a wine that is smooth...
2    Tart and snappy, the flavors of lime flesh and...
3    Pineapple rind, lemon pith and orange blossom ...
4    Much like the regular bottling from 2012, this...
Name: description, dtype: object

### 7. Select the first value from the description column of csv, assigning it to variable first_description.

In [85]:
first_description = desc.head(1)

In [86]:
first_description

0    Aromas include tropical fruit, broom, brimston...
Name: description, dtype: object

### 8. Select the first 10 values from the description column in reviews, assigning the result to variable first_descriptions.

In [87]:
first_description = desc.head(10)

In [95]:
first_description

0    Aromas include tropical fruit, broom, brimston...
1    This is ripe and fruity, a wine that is smooth...
2    Tart and snappy, the flavors of lime flesh and...
3    Pineapple rind, lemon pith and orange blossom ...
4    Much like the regular bottling from 2012, this...
5    Blackberry and raspberry aromas show a typical...
6    Here's a bright, informal red that opens with ...
7    This dry and restrained wine offers spice in p...
8    Savory dried thyme notes accent sunnier flavor...
9    This has great depth of flavor with its fresh ...
Name: description, dtype: object

### 9. Select the records with index labels 1, 2, 3, 5, and 8, assigning the result to the variable sample_reviews.

In [97]:
sample_reviews = csv.loc[[1,2,3,5,8],:]

In [98]:
sample_reviews

,Unnamed: 0,country,description,designation,points,Unnamed: 5,province,region_1,region_2,Unnamed: 9,Unnamed: 10,Unnamed: 11
1,1.0,Portugal,"This is ripe and fruity, a wine that is smooth...",Avidagos,87.0,NaN,Douro,NaN,NaN,NaN,NaN,NaN
2,2.0,US,"Tart and snappy, the flavors of lime flesh and...",NaN,87.0,NaN,Oregon,Willamette Valley,Willamette Valley,NaN,NaN,NaN
3,3.0,US,"Pineapple rind, lemon pith and orange blossom ...",Reserve Late Harvest,87.0,NaN,Michigan,Lake Michigan Shore,NaN,NaN,NaN,NaN
5,5.0,Spain,Blackberry and raspberry aromas show a typical...,Ars In Vitro,87.0,NaN,Northern Spain,Navarra,NaN,NaN,NaN,NaN
8,8.0,Germany,Savory dried thyme notes accent sunnier flavor...,Shine,87.0,NaN,Rheinhessen,NaN,NaN,NaN,NaN,NaN

### 10. Create a variable df containing the country, province, region_1, and region_2 columns of the records with the index labels 0, 1, 10, and 100.

In [99]:
df = csv[['country','province','region_1','region_2']].loc[[0,1,10,100],:]

In [100]:
df

      country           province      region_1      region_2
0       Italy  Sicily & Sardinia          Etna           NaN
1    Portugal              Douro           NaN           NaN
10         US         California   Napa Valley          Napa
100        US           New York  Finger Lakes  Finger Lakes